/* 
TABLE OF CONTENTS
=================
	NOTES	
	CUSTOM PROPERTIES
	GLOBAL ELEMENT STYLES
	UTILITIES
	COMPONENTS
	GLOBAL PAGE LAYOUT AND STYLING
	CUSTOM PAGE LAYOUTS AND STYLING
*/

/*
NOTES
=====
	CSS rule hierarchy - from the outside in
	1. Layout and positioning
		a. display (grid/flexbox) and position (absolute, relative, sticky, etc.)
		b. item/content alignment and justification or top/bottom/left/right
		c. z-index
	2. Box model
		a. margin
		b. padding
		c. border
	3. Typography
		a. font-style
		b. font-variant
		c. font-weight
		d. font-size
		e. font-family
		f. text-transform
		g. letter-spacing
		h. line-height
		i. alignment
	4. Color
		a. color
		b. background

	Tap target size guidelines
	1. min-width: and min-height: 44px
	2. Minimum spacing between targets
		a. 4-6px: dense UI minimum
		b. 8-12px: minimum
		c. 12-16px: comfortable mobile UI
	3. Expand target size with 12-16px padding
*/

/*
CUSTOM PROPERTIES
=================
*/

:root {
  --ff-sans:
    akzidenz-grotesk-next-pro, arial,
    tahoma, sans-serif;
  --ff-serif-caption:
    garamond-premier-pro-caption,
    garamond, georgia, serif;
  --ff-serif:
    garamond-premier-pro, garamond,
    georgia, serif;

  --clr-primary: #002fa7;
  --clr-primary-tint: #ccd5ed;
  --clr-complement: #b46b09;
  --clr-tetrad: #b40987;
}

/*
GLOBAL ELEMENT STYLES
=====================
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

html {
  scroll-padding-top: 134px;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  max-width: 68rem;
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: clamp(
    1rem,
    5vw,
    2rem
  );
  font-weight: 400;
  font-size: clamp(1rem, 5vw, 1.25rem);
  font-family: var(--ff-sans);
  line-height: 1.33;
  text-wrap: pretty;
  overflow-x: clip;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: white;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  overflow-wrap: break-word;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: 500;
  font-family: var(--ff-serif);
  line-height: 1;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  padding-block: 0.75rem;
  padding-inline: 1rem;
  outline-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--clr-primary);
  transition: color 0.3s ease;
}

a:link {
  color: var(--clr-primary);
}

a:visited {
  color: var(--clr-primary);
}

a:focus {
  outline-color: var(--clr-tetrad);
}

a:hover {
  color: var(--clr-complement);
}

a:active {
  color: var(--clr-tetrad);
}

button,
input,
select,
textarea {
  font: inherit;
}

canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Remove list styles while retaining semantics for Apple VoiceOver; must add role in HTML */
dl[role="list"],
ol[role="list"],
ul[role="list"] {
  list-style: none;
}

/*
UTILITIES
=========
*/

.col-width-78 {
  max-width: 40rem;
  margin-inline: auto;
}

.mrgn-block-end_01 {
  margin-block-end: 1rem;
}

.mrgn-block-end_02 {
  margin-block-end: 2rem;
}

.mrgn-block-end_03 {
  margin-block-end: 5rem;
}

.txt-center {
  text-align: center;
}

.no-break {
  white-space: nowrap;
}

/*
COMPONENTS
==========
*/

.flex {
  display: flex;
  flex-direction: column;
  gap: clamp(0.8rem, 4vw, 1rem);
}

.heading-style_01 {
  font-size: clamp(2rem, 10vw, 3rem);
}

.heading-style_02 {
  font-size: clamp(2rem, 10vw, 2.5rem);
}

.heading-style_03 {
  font-size: clamp(1.6rem, 8vw, 2rem);
}

.heading-style_04 {
  font-size: clamp (1.2rem, 6vw, 1.5rem);
}

.para-price {
  font-weight: 500;
  font-size: 1.375rem;
  font-family: var(--ff-serif);
}

.food-allergy-warning {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: teal;
}

.nav-mobile-icon {
  display: block;
  width: 2.75rem;
  min-width: 44px;
  aspect-ratio: 1;
  align-self: self-start;
  margin-block-start: -11px;
  padding-inline-end: 1rem;
  border: none;
  background: none;
  background-image: url(Assets/bars-solid-full.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.menu-close {
  display: block;
  position: absolute;
  top: calc(
    2rem + env(safe-area-inset-top)
  );
  right: clamp(0.5rem, 5vw, 3rem);
  width: 2rem;
  aspect-ratio: 1;
  border: none;
  background: none;
  background-image: url(Assets/xmark-solid-full.svg);
  cursor: pointer;
}

.separator {
  width: 10rem;
  margin-inline: auto;
}
/*
GLOBAL PAGE LAYOUT AND STYLING
==============================
*/

header {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 1fr auto;
  column-gap: 1rem;
  row-gap: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  align-items: start;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid
    rgb(0 0 0 / 0.5);
  background-color: white;

  & .logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    max-width: 288px;
    padding-inline: 0;
    padding-block: 0;
  }

  & h2 {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    font-weight: 400;
    font-size: clamp(
      1rem,
      5vw,
      1.25rem
    );
    font-family: var(--ff-serif);
    letter-spacing: 0.05em;
  }

  & nav {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: -100%;
  transition: right 0.3s ease-in-out;
  width: 100%;
  min-height: 40dvh;
  z-index: 1000;
  padding-top: calc(
    env(safe-area-inset-top) + 60px
  );
  background-color: white;
}

/* Show fly-out menu when hamburger menu is clicked by default for mobile-first design */
.nav-links.is-active {
  right: 0;
}

.nav-links a,
.btn {
  padding-block: 0.75rem;
  padding-inline: 1rem;
}

@media (min-width: 800px) {
  .nav {
    align-self: flex-end;
  }

  /* Show links */
  .nav-links {
    position: static;
    gap: 2rem;
    width: auto;
    min-height: 0;
    flex-direction: row;
    padding-top: 0;
    background-color: transparent;
    transition: none;
  }

  .nav-links a {
    padding: 0;
  }

  /* Hide hamburger menu and fly-out menu-close X */
  .nav-mobile-icon,
  .menu-close {
    display: none;
  }
}

.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1.5rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 1rem;
  }
}

.subheader > p {
  margin: 0;
  font-variant: small-caps;
  font-size: 1rem;
  font-family: var(--ff-serif-caption);
  letter-spacing: 0.1em;
  text-align: center;
}

.subheader > img {
  width: 1.5rem;
  padding-block: 0.35em;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-start: 4.5rem;
  padding-block-start: 1.5rem;
  padding-block-end: 4.5rem;
  border-top: 1px solid
    rgba(0 0 0 / 0.2);
}

@media (min-width: 480px) {
  footer {
    flex-direction: row;
    align-items: baseline;
    gap: 2rem;
  }

  footer a {
    margin: 0;
    margin-inline-start: 6rem;
  }
}
footer h2 {
  font-size: 1.5rem;
  letter-spacing: 0.05em;
}

footer a {
  margin-block-start: 1.5rem;
  padding: 0;
  text-decoration: underline;
  text-transform: unset;
}

/*
CUSTOM PAGE LAYOUTS AND STYLING
===============================
*/

/* Home page */

#start-here {
  padding: 2rem;
  border: 3px solid black;
  border-radius: 2rem;
}

.hero {
  display: grid;
  grid-template-columns: 0.62fr 1fr;
  grid-template-rows: 0.8fr 0.6fr 1fr;
  margin-bottom: 3rem;

  & picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }

  & h1 {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    align-self: center;
    padding-inline-end: clamp(
      0.5rem,
      2.5vw,
      1rem
    );
    font-size: clamp(
      1.5rem,
      7.5vw,
      3rem
    );
  }

  & .hero-buttons {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    display: inline-flex;
    flex-direction: column;
    gap: clamp(1rem, 5vw, 2rem);
    align-items: center;
  }
}

.hero-buttons a {
  margin: 0;
  padding-block: clamp(
    0.45rem,
    2.25vw,
    0.75rem
  );
  padding-inline: clamp(
    0.6rem,
    3vw,
    1rem
  );
  font-size: clamp(
    0.875rem,
    4.375vw,
    1.25rem
  );
}

/* About page */

.about {
  display: grid;

  & img {
    width: 100%;
    max-width: 372px;
    height: auto;
    margin-inline: auto;
    margin-block-end: 2rem;
  }

  & h1 {
    text-align: center;
  }
}

@media (min-width: 720px) {
  .about {
    grid-template-columns:
      minmax(234px, 0.62fr)
      1fr;
    gap: 3rem;
    align-items: start;

    & img {
      max-width: 100%;
      margin: 0;
    }

    & h1 {
      text-align: left;
    }
  }
}

/*
BASE STYLES
=============
*/

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
  font-size: 1.25rem;
  text-align: center;
  background-color: white;
}
